<!-- ck background img wrapper Start -->
<div class="wrapper-background"></div>
<!-- ck background img wrapper End -->
<!-- ck navigation wrapper Start -->
{{> header}}
<!-- ck navigation wrapper End -->
<!-- ck fullpage wrapper start -->
<div id="fullpage" class="fullpage-default">
	<div class="ck_header_main_wrapper section animated-row" data-section="section1">
		<div class="container">
			<div class="row">
				<div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-12 align-self-center">
					<div class="ck_slider_top_content float_left">
						<h4><img src="images/awe.png" alt="img" class="animate" data-animate="fadeInUp"></h4>
						<h3 class="animate" data-animate="fadeInUp">Tasty Yogo&Foods</h3>
						<p class="animate" data-animate="fadeInUp">
							Having greek yogurt and some granola is the perfect start-up breakfast because it has many
							benefits.
							Its filling,
							healthy and gives you energy keep you going all day.
						</p>
						<ul class="animate" data-animate="fadeInUp">
							<li><a href="/about">About Us</a>
							</li>
							<li><a href="/products">View Products</a>
							</li>
						</ul>
					</div>
				</div>
				<div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-12 align-self-center">
					<div class="ck_main_slider_img float_left animate" data-animate="fadeInUp">
						<img src="images/yogurt2.png" alt="img">
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="ck_about_main_wrapper section animated-row float_left" data-section="section2">
		<div class="container">
			<div class="row">
				<div
					class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-12 align-self-center d-none d-sm-none d-md-none d-lg-block d-xl-block">
					<div class="ck_about_img_wrapper float_left">
						<img src="images/ice2.png" alt="img" class="animate" data-animate="fadeInUp">
					</div>
				</div>
				<div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-12 align-self-center">
					<div class="ck_about_img_cont_wrapper float_left animate" data-animate="fadeInUp">
						<div class="ck_heading_wrapper">
							<h4>Our About us</h4>
							<h3>Little About Us</h3>
						</div>
						<p>
							Eating Greek yogurt improves your bone health, as it is rich in calcium and protein.
							Calcium promotes bone health and can reduce the risk of osteoporosis, a degenerative bone
							disease.
							Consuming enough protein is also vital for bone health.


							<br>
							<br>
							We are focused on giving you the best quality greek youghuts.
							made in a traditional way to be beneficial to your health.

							Many of the potential health benefits of Greek yogurt relate to its high protein content.
							A protein-rich diet may help reduce hunger, boost metabolism, and build muscle.
							<br><br>

							Greek yogurt is an excellent source of calcium, which can help improve bone health.
							It also contains probiotics, which support a healthy bacterial balance in the gut.

							Eating Greek yogurt is associated with lower blood pressure and a lower risk of type 2
							diabetes.



						</p>
						<img src="images/farhan_shaikh.png" alt="img">
						<h5>Orji Lash</h5>
						<h6>Manager</h6>
					</div>
				</div>
				<div
					class="col-md-12 col-sm-12 col-12 align-self-center d-block d-sm-block d-md-block d-lg-none d-xl-none">
					<div class="ck_about_img_wrapper float_left">
						<img src="images/ice2.png" alt="img" class="animate" data-animate="fadeInUp">
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="ck_offer_main_wrapper section animated-row float_left" data-section="section3">
		<div class="container">
			<div class="row">
				<div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-12 align-self-center">
					<div class="ck_offer_img_cont_wrapper float_left animate" data-animate="fadeInUp">
						<div class="ck_heading_wrapper float_left">
							<h4>special offer</h4>
							<h3>what we offer</h3>
						</div>
						<div class="ck_offer_mian_box_wrapper ck_offer_mian_box_wrapper_first float_left">
							<div class="ck_offer_icon_wrapper"> <i class="flaticon-cupcake"></i>
							</div>
							<div class="ck_offer_icon_cont_wrapper">
								<h3>Tasty Greek Youghurt</h3>
								<p>We Understant behind every good products, it's also have to be accessi- bleeasily.
									Our intention is to get you started</p>
							</div>
						</div>
						<div class="ck_offer_mian_box_wrapper ck_offer_mian_box_wrapper_second float_left">
							<div class="ck_offer_icon_wrapper"> <i class="flaticon-ice-cream-truck"></i>
							</div>
							<div class="ck_offer_icon_cont_wrapper">
								<h3>Pink Ice Cream Cupcakes</h3>
								<p>We Understant behind every good products, it's also have to be accessi- bleeasily.
									Our intention is to get you started</p>
							</div>
						</div>
						{{!-- <div class="ck_offer_btn float_left"> <a href="#">Read More</a>
						</div> --}}
					</div>
				</div>
				<div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-12 align-self-center">
					<div class="ck_special_img_wrapper float_left">
						<img src="images/ice3.png" alt="img" class="animate" data-animate="fadeInUp">
					</div>
				</div>
			</div>
		</div>
	</div>
	{{!-- Gallery --}}
	<div class="ck_gallery_main_wrapper section animated-row float_left" data-section="section4">
		<div class="container">
			<div class="row">
				<div class="col-md-12 align-self-center">
					<div class="ck_offer_img_cont_wrapper ck_gallery_img_cont_wrapper float_left animate"
						data-animate="fadeInUp">
						<div class="ck_heading_wrapper ck_heading_center_wrapper float_left">
							<h4>our gallery</h4>
							<h3>Youghurt Gallery</h3>
						</div>
					</div>
					
					<div class="ck_gallery_slider_wrapper float_left animate" data-animate="fadeInUp">
						<div class="owl-carousel owl-theme">
							{{#each pictures}}     
							<div class="item">
								<div class="ck_gallery_box_main_wrapper float_left">
									<img src="{{picture_url}}" alt="img">
									<div class="overlay"></div>
									<div class="ck_gallery_cont_wrapper float_left">
										<h3>{{title}}</h3>
										<a href="{{picture_url}}"><i class="flaticon-right-arrow"></i></a>
									</div>
								</div>
							</div>
							{{/each}}
						
{{!-- 							
							<div class="item">
								<div class="ck_gallery_box_main_wrapper float_left">
									<img src="images/g1.jpg" alt="img">
									<div class="overlay"></div>
									<div class="ck_gallery_cont_wrapper float_left">
										<h3>Cherry Vanilla</h3>
										<a href="images/g1.jpg"><i class="flaticon-right-arrow"></i></a>
									</div>
								</div>
							</div> --}}
						</div>
						<div class="ck_offer_btn ck_gallery_btn float_left"> <a href="/gallery">Read More</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	{{!-- Services --}}
	<div class="ck_gallery_main_wrapper section animated-row float_left" data-section="section5">
		<div class="container">
			<div class="row">
				<div class="col-md-12 align-self-center">
					<div class="row">
						<div class="col-md-12">
							<div class="ck_offer_img_cont_wrapper float_left animate" data-animate="fadeInUp">
								<div class="ck_heading_wrapper ck_heading_center_wrapper float_left">
									<h4>why us</h4>
									<h3>Our Services</h3>
								</div>
							</div>
						</div>
						<div class="col-xl-4 col-lg-4 col-md-6 col-sm-12 col-12">
							<div class="ck_service_main_box_wrapper float_left animate" data-animate="fadeInUp">
								<div class="ck_service_icon_wrapper float_left"> <i class="flaticon-cupcake"></i>
								</div>
								<div class="ck_service_icon_cont_wrapper float_left">
									<h3><a href="#">Cherry Vanilla</a></h3>
									<p>We Understant behind every good products, it's also have to be accessi of your
										mouse.</p>
								</div>
							</div>
						</div>
						<div class="col-xl-4 col-lg-4 col-md-6 col-sm-12 col-12">
							<div class="ck_service_main_box_wrapper float_left animate" data-animate="fadeInUp">
								<div class="ck_service_icon_wrapper float_left"> <i
										class="flaticon-sundae-with-cherry-on-top"></i>
								</div>
								<div class="ck_service_icon_cont_wrapper float_left">
									<h3><a href="#">Cherry Vanilla</a></h3>
									<p>We Understant behind every good products, it's also have to be accessi of your
										mouse.</p>
								</div>
							</div>
						</div>
						<div class="col-xl-4 col-lg-4 col-md-6 col-sm-12 col-12">
							<div class="ck_service_main_box_wrapper float_left animate" data-animate="fadeInUp">
								<div class="ck_service_icon_wrapper float_left"> <i class="flaticon-scoop"></i>
								</div>
								<div class="ck_service_icon_cont_wrapper float_left">
									<h3><a href="#">Mint Chocolate Chip</a></h3>
									<p>We Understant behind every good products, it's also have to be accessi of your
										mouse.</p>
								</div>
							</div>
						</div>
						{{!-- <div class="col-md-12">
							<div class="ck_offer_btn ck_service_btn animate float_left" data-animate="fadeInUp"> <a
									href="#">Read More</a>
							</div>
						</div> --}}
					</div>
				</div>
			</div>
		</div>
	</div>
	
	{{!-- Testimonial --}}
	<div class="ck_testi_main_wrapper section animated-row float_left" data-section="section7">
		<div class="container">
			<div class="row">
				<div class="col-md-12 align-self-center">
					<div class="row">
						<div class="col-md-12">
							<div class="ck_offer_img_cont_wrapper float_left animate" data-animate="fadeInUp">
								<div class="ck_heading_wrapper ck_heading_center_wrapper float_left">
									<h4>Check out our client’s</h4>
									<h3>Testimonial Words</h3>
								</div>
							</div>
						</div>
						<div class="col-md-12">
							<div class="ck_testi_slider_wrapper float_left animate" data-animate="fadeInUp">
								<div class="owl-carousel owl-theme">
									<div class="item">
										<div class="ck_testi_slider_main_box_wrapper float_left">
											<div class="ck_testi_slide_img_wrapper">
												<img src="images/testi_img.jpg" alt="img">
											</div>
											<div class="ck_testi_slide_img_cont_wrapper">
												<h4>Victoria Porter <span>[ Director ]</span></h4>
												<p>In collaboration with public partners, lBusiness connects local
													businesses and job-seeking residents withresources. Our range of
													programs offers every service from talent recruiting and career
													development to clinical case mancollaboration</p>
												<img src="images/testi_sig.png" alt="img">
												<div class="ck_testi_title_line">
													<img src="images/quote.png" alt="img">
												</div>
											</div>
										</div>
									</div>
									<div class="item">
										<div class="ck_testi_slider_main_box_wrapper float_left">
											<div class="ck_testi_slide_img_wrapper">
												<img src="images/testi_img2.jpg" alt="img">
											</div>
											<div class="ck_testi_slide_img_cont_wrapper">
												<h4>Victoria Porter <span>[ Director ]</span></h4>
												<p>In collaboration with public partners, lBusiness connects local
													businesses and job-seeking residents withresources. Our range of
													programs offers every service from talent recruiting and career
													development to clinical case mancollaboration</p>
												<img src="images/testi_sig.png" alt="img">
												<div class="ck_testi_title_line">
													<img src="images/quote.png" alt="img">
												</div>
											</div>
										</div>
									</div>
									<div class="item">
										<div class="ck_testi_slider_main_box_wrapper float_left">
											<div class="ck_testi_slide_img_wrapper">
												<img src="images/testi_img3.jpg" alt="img">
											</div>
											<div class="ck_testi_slide_img_cont_wrapper">
												<h4>Victoria Porter <span>[ Customer ]</span></h4>
												<p>In collaboration with public partners, lBusiness connects local
													businesses and job-seeking residents withresources. Our range of
													programs offers every service from talent recruiting and career
													development to clinical case mancollaboration</p>
												<img src="images/testi_sig.png" alt="img">
												<div class="ck_testi_title_line">
													<img src="images/quote.png" alt="img">
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	
	{{!-- Products --}}
	<div class="ck_elem_main_wrapper section animated-row float_left" data-section="section9">
		<div class="container">
			<div class="row">
				<div class="col-md-12 align-self-center">
					<div class="row">
						<div class="col-md-12">
							<div class="ck_offer_img_cont_wrapper float_left animate" data-animate="fadeInUp">
								<div class="ck_heading_wrapper ck_heading_center_wrapper float_left">
									<h4>our Ice-cream</h4>
									<h3>Best ice cream Elements</h3>
								</div>
							</div>
						</div>
						<div class="col-md-12">
							<div class="ck_elem_slider_wrapper float_left animate" data-animate="fadeInUp">
								<div class="owl-carousel owl-theme">
									{{#each products}}
									<div class="item">
										<div class="ck_elem_slide_img_wrapper float_left">
											<div class="ck_elem_slide_img float_left">
												<img src="{{picture_url}}" alt="img">
											</div>
											<div class="ck_elem_slide_img_cont float_left">
												<h3>{{product_name}}</h3>
												<div class="ck_elem_star"> <i class="fas fa-star"></i>
													<i class="fas fa-star"></i>
													<i class="fas fa-star"></i>
													<i class="fas fa-star"></i>
													<i class="fas fa-star"></i>
												</div>
												<p>{{product_description}}</p>
												{{!-- <h5>$ 10.00</h5>
													<div class="ck_offer_btn float_left">	<a href="#">Add to Cart</a>
													</div> --}}
											</div>
										</div>
									</div>
									{{/each}}
								
								</div>
							</div>
						</div>
						<div class="col-md-12">
							<div class="ck_offer_btn ck_blog_btn float_left animate" data-animate="fadeInUp"> <a
									href="/products">View all Products</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	{{!-- Blog --}}
	<div class="ck_blog_main_wrapper section animated-row float_left" data-section="section8">
		<div class="container">
			<div class="row">
				<div class="col-md-12 align-self-center">
					<div class="row">
						<div class="col-md-12">
							<div class="ck_offer_img_cont_wrapper float_left animate" data-animate="fadeInUp">
								<div class="ck_heading_wrapper ck_heading_center_wrapper float_left">
									<h4>Check out Blog</h4>
									<h3>Ice Cream Blog</h3>
								</div>
							</div>
						</div>
						<div class="col-md-12">
							<div class="ck_blog_slider_wrapper float_left animate" data-animate="fadeInUp">
								<div class="owl-carousel owl-theme">
									{{#each posts}}
										<div class="item">
											<div class="et_left_news_wrapper">
												<div class="et_left_img_news2">
													<div class="et_left_img_overlay"></div>
												
												</div>
												<div class="et_left_cont_news">
													<h4>Article</h4>
													<h3>{{title}}</h3>
													<h5>29-Jan-2019</h5>
													<p>{{brief content}}</p>
													<h2><a href="/blog/{{_id}}">Read More</a> <i class="fa fa-angle-double-right"></i>
													</h2>
												</div>
											</div>
										</div>
									{{/each}}
									
								</div>
							</div>
						</div>
						<div class="col-md-12">
							<div class="ck_offer_btn ck_blog_btn float_left animate" data-animate="fadeInUp"> <a
									href="#">Read More</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	{{!-- Contact --}}
	<div class="ck_contact_main_wrapper section animated-row float_left" data-section="section10">
		<div class="container">
			<div class="row">
				<div class="col-md-12 align-self-center">
					<div class="row">
						<div class="col-md-12">
							<div class="ck_offer_img_cont_wrapper ck_contaact_img_cont_wrapper float_left animate"
								data-animate="fadeInUp">
								<div class="ck_heading_wrapper ck_heading_center_wrapper float_left">
									<h4>if any query</h4>
									<h3>Contact Details</h3>
								</div>
							</div>
						</div>
						<div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-12 animate" data-animate="fadeInUp">
							<div class="contact_details_wrapper">
								<div class="ck_contac_img_wrapper">
									<img src="images/e1.png" alt="img">
								</div>
								<div class="contact_details_content">
									<div class="contact_heading"> <span>Head</span>
									</div>
									<div class="contact_details"> <span>12 Sky Perfect Avenue
									</span>
									</div>
									<div class="contact_heading"> <span>Office:</span>
									</div>
									<div class="contact_details"> <span> Spibat Owerri Imo State,Nigeria</span>
									</div>
								</div>
								<!-- contact_details_content end-->
								<!-- contact_details_content start-->
								<div class="contact_details_content">
									<div class="contact_heading"> <span>Email:</span>
										<br><span>Phone:</span>
									</div>
									<div class="contact_details"> <span><a href="#">hello@heyogo.com</a></span>
									</div>
									<div class="contact_heading"> <span></span>
									</div>
									<div class="contact_details"> <span class="pd_left"><a href="#">070 324 622 20</a></span>
									</div>
								</div>
								<!-- contact_details_content end-->
							</div>
						</div>
						<div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-12 animate" data-animate="fadeInUp">
							<div class="ck_contac_map_wrapper">
								<div id='map'></div>
								<div class="ck_contact_map_cont_wrapper">
									<h4>Address</h4>
									<p class="first_pera_ck_contact">12 Sky Perfect Avenue
										<br>Spibat Owerri Imo State,Nigeria</p>
									<p class="second_pera_ck_contact">070 324 622 20</p>
									<p class="second_pera_ck_contact">E. : <a href="#">hello@heyogo.com</a>
									</p>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- ck fullpage wrapper End -->
<!-- ck footer wrapper Start -->
{{> footer}}
<!-- ck footer wrapper End -->